<h2><a href="/item/{{itemId}}">{{item}}</a></h2>
<h2><a href="/supplier/{{supplierId}}">{{supplier}}</a></h2>
<h2>{{quantity}}</h2>
<h2>{{itemPrice}}</h2>
<h3>{{modifiedDate}}</h3>
<h3>{{createdDate}}</h3>
